<br>
<div id="footer">
    <style>
        
        .link {
          text-decoration: none;
          color: white;
          transition: color 0.5s ease-in-out;
        }

        .link:hover {
          color: var(--blue);
        }
    </style>
    <p>Made With ❤️ By <a href="https://store.shawnengmann.com" class="link">Shawn E.</a></p>
</div>
